<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kauan Gabriel">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">

    <!-- JS -->
    <script src="https://kit.fontawesome.com/fe41d20d0f.js" crossorigin="anonymous"></script>
    <script src="../assets/js/cadastro.js"></script>

    <!-- TITLE -->
    <title>BlackTech - Cadastro</title>

</head>

<body>

    <!-- HEADER -->

    <header>

        <h1 class="title-logo">BlackTech</h1>

        <nav>
            <ul class="list">
                <li><a href="../index.html#home">Home</a></li>
                <li><a href="../index.html#products">All products</a></li>
                <li><a href="">Categories</a></li>
                <li>|</li>
                <li><a href="login.html">Account</a></li>
                <li>
                    <img src="../assets/img/bag-white.png" alt="">
                </li>
            </ul>
        </nav>

    </header>


    <!-- MAIN -->

    <main>

        <div class="card-cadastro">

            <h1>Cadastro</h1>

            <form action="" id="form-cadastro" method="">

                <label for="nome">

                    Nome
                    <div class="input-box">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="nome" name="nome">
                    </div>

                </label>

                <label for="email">

                    Email
                    <div class="input-box">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" id="email" name="email">
                    </div>

                </label>

                <label for="senha">

                    Senha
                    <div class="input-box">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" id="senha" name="senha">
                    </div>

                </label>

                <label for="confirmarSenha">

                    Confirmar Senha
                    <div class="input-box">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" id="confirmarSenha" name="confirmarSenha">
                    </div>

                </label>

                <button type="submit">Cadastrar</button>

            </form>

        </div>

    </main>

</body>

</html>