<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kauan Gabriel">
    <!-- CSS -->
     <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <!-- TITLE -->
    <title>BlackTech - Login</title>
</head>

<body>

    <!-- HEADER -->

    <header>

        <h1 class="title-logo">BlackTech</h1>

        <nav>
            <ul class="list">
                <li><a href="../index.html#home">Home</a></li>
                <li><a href="../index.html#products">All products</a></li>
                <li><a href="">Categories</a></li>
                <li>|</li>
                <li><a href="">Account</a></li>
                <li>
                    <img src="../assets/img/bag-white.png" alt="">
                </li>
            </ul>
        </nav>

    </header>


    <!-- MAIN -->

    <main>



    </main>

</body>

</html>